* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#loader_wrapper {
    position: absolute;
    top: 45%;
    left: 48%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    animation: rotate 3s linear infinite;
    z-index: 10;
    display: none;
}

#loader {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#project_section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container {
    display: none;
    background-color: red;
    width: 485px;
    height: 40px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #1d1910bf;
    position: absolute;
    bottom: 10px;
    justify-content: space-between;
    z-index: 5;
    gap: 10px;
    &>button {
        height: 100px;
        width: 100px;
        background-color: black;
        color: white;
        border: 1px solid white;

    }
}

#container_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

#image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
}

#project_section>#image_container {
    object-fit: contain;
    width: 97vw;
    height: 97vh;
    background-color: transparent;
}

#project_info {
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    right: 0;
    z-index: 5;
    transform: translateY(-2000px);
    transition: all 0.3s ease-in-out;
}

#project_title {
    position: absolute;
    left: 10px;
    top: 50px;
    color: rgb(255, 255, 255);
    display: none;
}

#Project_details_h1 {
    text-align: center;
    margin: 25px;
}

#close {
    padding: 0;
    font-size: 1px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
}

#web_link {
    position: absolute;
    top: 50px;
    right: 20px;
}

#github_link {
    padding: 10px;
    font-size: 15px;
}

#github_link>a {
    background-color: transparent;
}

#tech {
    padding: 0 10px 0 10px;
}

#last_update,
#description {
    padding: 10px;
}

#body_of_square {
    height: 20px;
    border: 3px solid black;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;

    &:hover {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
}

.square {
    width: 15px;
    height: 15px;
    border: 1.8px solid black;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}
#list {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

#arrow-back {
    display: flex;
    position: absolute;
    left: 10px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

#arrow-forward {
    display: flex;
    position: absolute;
    right: 10px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

#menu, #previous, #next, #responsive, #links_btn{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    transition: all 0.5s ease-in-out;
    width: 70px;
    z-index: 4;
    cursor: pointer;
}

#previous {
    width: fit-content;
}

#next {
    width: 70px;
}

#image {
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 1;
}

#responsive {
    width: fit-content;
}


#img_svg {
    background-color: transparent;
    transition: all 0.5s ease-in-out;

    &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.2);
    }
}

#chevron_svg {
    background-color: transparent;
}

#images_ {
    font-size: 15px;
}

#image_container {
    transition: all 0.3s ease-in-out;
}

#responsive_container_parent {
    background-color: rgba(0, 0, 0, 0.798);
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    display: none;
    z-index: 6;
}

#responsive_container {
    margin-top: 30px;
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    justify-content: start;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    gap: 1px;
    z-index: 6;
}

.divImg {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.divImg:hover {
    transform: scale3d(2, 2, 5);
    transition: all 0.5s ease-in-out;
}

.responsive_show_images {
    width: 150px;
    height: 150px;
    background-color: #1d1910bf;
    ;
}

#responsive_close {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: fit-content;
    z-index: 7;
}

#links_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 11;
}

#close_links_container{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

#links_container>#links_H1 {
    margin-top: 5px;
    text-decoration: underline;
}

#links_btn {
    width: fit-content;
}

#links_container_indside_div {
    display: flex;
    gap: 50px;
}
#links_container_indside_div > a > img {
    width: 100px;
    height: 100px;
}
.opacity_conatainer {
    display: flex;
    gap: 10px;
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    #project_section>#image_container {
        height: 100vh;
        width: 100vw;
    }

    #responsive_container {
        width: 100vw;
        justify-content: center;
        top: 5vh;
        left: 0;
        gap: 10px;
    }

    #responsive_close {
        top: 1vh;
        opacity: 1;
    }

    .divImg:hover {
        transform: scale3d(1, 1, 5);
    }


    #loader_wrapper {
        left: 45%;
    }

    #container {
        flex-direction: column;
        width: 75px;
        height: 220px;
        top: 50%;
        left: 12%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        gap: 0;
    }

    #container_btn {
        flex-direction: column;
    }

    #image_wrapper {
        width: -webkit-fill-available;
    }

    #menu, #responsive, #previous, #next, #links_btn{
        width: -webkit-fill-available;
        background-color: rgb(0, 255, 0);
        color: black;
        border-color: black;
    }

    #arrow-back {
        right: 45px;
        left: auto;
        bottom: 10px;
    }
    
    #arrow-forward {
        bottom: 10px;
        right: 10px;
    }

    #links_container_indside_div {
        flex-direction: column;
        gap: 25px;
    }
}

@media only screen and (max-width: 900px) {
    #project_section>#image_container {
        height: 100vh;
        width: 100vw;
    }

    #project_info {
        width: 100vw;
    }

    #project_title {
        left: 10px;
    }

    #list {
        background-color: rgba(0, 0, 0, 0.534);
    }
}

@media only screen and (max-width: 350px) {
    #container {
        left: 15%;
    }
}